.header {
    background-image: url("../../assets/bg/header-bg.png");
    background-size: cover;
    height: 671px;
    // temporarly
    color: #fff;

    &__container {
        display: flex;
        flex-direction: column;
        height: 671px;
    }

    &__navbar {
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        align-items: center;
        margin-top: 15px;
        &__logo__name {
            padding-left: 11px;
            font-size:30px
            // color, font-family
        }
        &__nav {
            display: flex;
            justify-content: space-between;
            li + li {
                padding-left: 16px;
            }
            &__link {
                white-space: nowrap;
                font-size:13px;
                // color, font-family
                &__active {
                    color: #fff;
                    // color, font-family
                }
            }
        }
        &__burger {
            display: none;
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
    }

    &__main {
        margin: auto;
        &__title {
            font-size: 32px;
            letter-spacing: 0px;
            font-weight: 900;
            text-align: center;
            margin: 0 auto;
            // color, font-family
        }
        &__separator {
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);

            margin: 20px 0 30px;
        }
        &__text {
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 24px;
            font-weight: 300;
            text-align: center;
            margin: 0 auto 50px;
            // color, font-family
        }
        &__btn {
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
}

.burger-menu{
    position: fixed;
    width: 290px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    max-width: 325px;
    top: 0;
    left: 0;
    background: #fff;
    color: #212529;
    border-radius: 0px 30px 30px 0px;
    li {
        margin: 4px 0px;
    }
    a {
        line-height: 36px;
        padding-left: 16px;
        font-size: 23px;
        letter-spacing: 1px;
        color: #413d4b;
        font-weight: 900;
        font-family: "Roboto";
        text-align: center;
    }
}

@media (max-width: 769px) {
    .header__navbar__nav {
        display: none;
    }
    .header__navbar__burger {
        display: block;
    }
}
